@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,600&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #1f242d;
    /* #323946*/
}
.navbar{
    width: 100%;
    height: 8vh;
    padding-top: 20px;
    /*background-color: red;*/
    display: flex;
    justify-content: space-between;
}
.logo{
    padding: 10px 25px;
    font-size: 27px;
    font-family: 'Lobster', cursive;
    color: white;
}
.menu ul{
   display: flex;
}
.menu ul li{
    list-style: none;
    padding: 10px 25px;
    font-size: 23px;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    
}
.menu ul li a{
    text-decoration: none;
    color: white;
}
.menu ul li a:hover{
    color: aqua;
}
.info{
    width: 100%;
    height: 90vh;
    color: white;
    background-color: #1f242d;
    /*background-color: yellow;*/
    display: flex;
}
.left{
    /*background-color: blue;*/
    width: 50%;
    size: 100px;
    padding-top: 200px;
    padding-left: 100px;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.left h3{
    
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
}
.left h1{
    font-size: 67px;
    font-family: 'Gloock', serif;  
}
span{
    font-size: 67px;
    color: aqua;
    font-family: 'Gloock', serif;
}
.left h4{
    font-size: 22px;
    font-family: 'Kanit', sans-serif;
}
.left h5{
    opacity: .4;
    font-size: 18px;
    font-family: 'Kanit', sans-serif;
}
.media-icons{
    padding-top: 15px;
    display: inline-block;
}
.media-icons a{
    padding: 4px;
    width: 50px;
    height: 60px;
    font-size: 25px;
    color: aqua;
}
.media-icons a:hover{
    color: white;
}
.btn{
    padding-top: 10px;
    margin-right: 650px;
}
button{
    width: 150px;
    height: 43px;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
    color: #1f242d;
    background-color: aqua;
    border-radius: 6px;
}
button:hover{
    background-color: white;
}
.right{
    width: 50%;
    padding-left: 100px;
    justify-content: center;
    align-items: center;
    /*background-color: aqua;*/
}
.model{
    padding: 70px;
    width: 400px;
    height: 450px;
    align-items: center;
    transform: transform(.2s);
}
.model:hover{
    transform: scale(1.1);
}
.about{
    width: 100%;
    height: 190vh;
    padding-top: 25px;
    background-color:#323946 ;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Kanit', sans-serif;
}
.about h1{
    color: white;
    font-size: 40px;
}
.about span{
    color: aqua;
    font-size: 40px;
}
.about-info{
    display: flex;
}
.about-intro{
    width: 50%;
    padding: 55px;
    justify-content: center;
    align-items: center;
}
.about-intro p{
    color: white;
    font-size: 25px;
    text-align: left;
    
}
.about-personal{
    
    padding: 20px;
    padding-left: 80px;
    justify-content: center;
    align-items: center;
}
.per-box{
    width: auto;
    height: auto;
    margin-top: 22px;
    padding: 20px;
    text-align: left;
    background-color: aqua;
    border: 3px solid black;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.per-box h3{
    color: #1f242d;
    padding: 15px;
    font-size: 25px;
}
.edu-experi{
    display: flex;
}
.about-edu{
    width: 50%;
    justify-content: center;
    align-items: center;
    padding: 70px;
}
.about-edu-info{
    width: auto;
    height: auto;
    padding: 35px;
    font-size: 17px;
    text-align: left;
    color: aqua;
    background-color: #1f242d;
    border: 5px solid aqua;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.about-experi{
    width: 50%;
    justify-content: center;
    align-items: center;
    padding: 70px;
}
.about-experi-info{
    width: auto;
    height: auto;
    padding: 35px;
    font-size: 17px;
    text-align: left;
    color: aqua;
    background-color: #1f242d;
    border: 5px solid aqua;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.skill-container{
    width: 100%;
    height: 80vh;  
    padding: 10px;
    justify-content: center;
    align-items: center; 
    
}
.skill-container h1{
    color: white;
    font-size: 40px;
    text-align: center;
}
.skill-container span{
    color: aqua;
    font-size: 40px;
}
.skill-container p{
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 90px;
    font-size: 20px;
    color: white;
    text-align: center;
}
.skill-list{
    display: flex;
    justify-content: space-around;
    
}
.skill-list1{
    margin-top: 30px;
    width: 35%;
    height: 50vh;
    background-color: #1f242d;
    border: 5px solid aqua;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.skill-per{
    display: flex;
    justify-content: space-between;
}
.skill-name{
    padding: 15px;
    color: white;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
}
.skill-per{
    padding: 15px;
    color: white;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
}
.progress-bar{
    width: 87%;
    height: 12px;
    margin-left: 38px;
    justify-content: center;
    align-items: center;
    background-color: #1f242d;
    border: 3px solid aqua;
    border-radius: 8px;
}
.progress-html{
    width: 90%;
    height: 15px;
    margin: 0px;
    border-radius: 8px;
    background-color: aqua;
}
.progress-css{
    width: 80%;
    height: 15px;
    border-radius: 8px;
    background-color: aqua;
}
.progress-js{
    width: 60%;
    height: 15px;
    border-radius: 8px;
    background-color: aqua;
}
.progress-react{
    width: 65%;
    height: 15px;
    border-radius: 8px;
    background-color: aqua;
}
.progress-php{
    width: 70%;
    height: 15px;
    border-radius: 8px;
    background-color: aqua;
}
.progress-jquery{
    width: 64%;
    height: 15px;
    border-radius: 8px;
    background-color: aqua;
}
.ser-container{
    width: 100%;
    height: 80vh;
    background-color: #323946;
    font-family: 'Kanit', sans-serif;
}
.ser-container h1{
    padding: 20px;
    color: white;
    font-size: 40px;
    text-align: center;
}
.ser-container span{
    color: aqua;
    font-size: 40px;
}
.services{
    display: flex;
    padding: 40px;

}
.web-design{
    width: 25%;
    height: auto;
    margin-left: 23px;
    padding: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transfrom .2s;
}
.web-design:hover{
    transform: scale(1.1);
    border: 5px solid aqua;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.web-design a{
    font-size: 60px;
    color: aqua;
}
.web-design h3{
    padding: 5px;
    font-size: 25px;
    color: white;
}
.web-design p{
    font-size: 15px;
    color: aqua;
}
.contact-container{
    width: 100%;
    height: 100vh;
    padding: 20px;
    justify-content: center;
    align-items: center;
    font-family: 'Kanit', sans-serif;
}
.contact-container h1{
    color: white;
    font-size: 40px;
}
.contact-container span{
    color: aqua;
    font-size: 40px;
}
form{
    margin: auto;
    margin-top: 35px;
    padding: 40px;
    padding-left: 90px;
    width: 50%;
    height: auto;
    font-family: 'Kanit', sans-serif;
    background-color: #1f242d;
    border: 5px solid aqua;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
label{
    font-size: 20px;
    color: white;
}
input{
    width: 650px;
    padding: 12px;
    border-radius: 6px;
    font-size: 15px;
    color: aqua;
    background-color: #1f242d;
    border: 3px solid aqua;
    
}
textarea{
    width: 650px;
    margin-top: 12px;
    padding: 10px;
    font-size: 15px;
    color: aqua;
    border-radius: 6px;
    background-color: #1f242d;
    border: 3px solid aqua;
    
}
.btn2{
    width: 150px;
    height: 43px;
    padding: 10px;
    align-items: center;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
    color: #1f242d;
    background-color: aqua;
    border-radius: 6px;
}
footer{
    width: 100%;
    height: 20vh;
    text-align: center;
    background-color:#323946 ;
}
footer h3{
    padding: 40px;
    color: white;
    opacity: .5;
    text-align: center;
    padding-left: 30%;
}
.footer-contain{
    display: flex;
    justify-content: space-between;
}
.footer-icon{
    float: right;
    padding: 30px;
}
.footer-icon a{
    font-size: 50px;
    margin: 0;
    padding: 0;
    color: aqua;
}